version: "3"
services:
  zookeeper:
    image: 'bitnami/zookeeper:latest'
    container_name: 'zookeeper'
    ports:
      - '2181:2181'
    environment:
      - ALLOW_ANONYMOUS_LOGIN=yes
  kafka:
    image: 'bitnami/kafka:latest'
    container_name: 'kafka'
    ports:
      - '9092:9092'
    environment:
      - KAFKA_BROKER_ID=1
      - KAFKA_CFG_ZOOKEEPER_CONNECT=zookeeper:2181
      - ALLOW_PLAINTEXT_LISTENER=yes
    depends_on:
      - zookeeper
  kafka-producer:
    container_name: app-producer
    build: ./kafka-producer
    command: mvn clean spring-boot:run -Dspring-boot.run.profiles=docker
    ports:
      - "8081:8081"
    depends_on:
      - kafka
  kafka-consumer:
    container_name: app-consumer
    build: ./kafka-consumer
    command: mvn clean spring-boot:run -Dspring-boot.run.profiles=docker
    ports:
      - "8082:8082"
    depends_on:
      - kafka
